<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- TODO: shift to a custom tiago_navigation launch file, in order to remap the pal_head_manager out topic -->

  <include file="$(find tiago_998_gazebo)/launch/tiago_navigation.launch"/>
	
	<!-- MUX: output-topic ; input-topic1 input-topic2 -->
	<node pkg="topic_tools" type="mux" name="point_head_mux" args="/head_controller/point_head_action/goal /head_controller/point_head_action/goal /head_controller/point_head_action_navigation/goal mux:=point_head_mux"/>
	
	<node pkg="sciroc_navigation"  type="navigation.py"	name="navigation" output="screen"  required="true" respawn="false" args="--wait"/>
	<node pkg="sciroc_poi_state"  type="navigation.py"	name="navigation" output="screen"  required="true" respawn="false" args="--wait"/>
	
  <include file="$(find sciroc_objdet)/launch/sciroc_objdet_whole.launch">
    <arg name="output" value="log"/>
    <arg name="node_args" value="--wait"/>
  </include>

  <include file="$(find people_perception)/launch/people_perception.launch"/>

	<!-- TODO: include HRI -->
	
	<node pkg="sciroc_logic"  type="poi_state.py"	name="poi_state" output="screen"  required="true" respawn="false" args="--wait"/>


</launch>
